%section
  .w-container
    .w-row
      .w-col
        %a.btn.btn-danger.pull-right{href: '#'}
          %span SIGN IN

%section
  .w-container
    %center
      = image_tag('google.png', width: '275', height: '95')
      %p
        %input
      %p
        %a.btn{href: '#'}
          %span Google Search
        %a.btn{href: '#'}
          %span I'm Feeling Lucky
