%section
  .w-container
    .w-row
      .w-col
        %a.btn.btn-danger.pull-right{href: '#'}
          %span SIGN IN

%section
  .w-container
    %center
      = image_tag('google.png', class: 'hero-img')
      %form.form-horizontal
        .control-group
          .controls
            %input{type: 'text', height: '1.25em'}
        .control-group
          .controls
            %a.btn{href: '#'}
              %span Google Search
            %a.btn{href: '#'}
              %span I'm Feeling Lucky
